#hero{
    text-align: center;
    margin: 5px;
    padding: 95px 0;
    
}
.logo {
    width: 60vw;
}
.logo > img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
#nav-bar
    {
        position: fixed;
        top: 0px;
        width: 100%;
    }​


  h2{
    font-family: 'Squada One', cursive;
  }    
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: justify;
}

#submit {

    margin: 15px 0;
    border: 0;
}


#copyright {
    
    text-align: center;
  }
  ol li{
    list-style-type: none;
  }